backend:
  name: git-gateway

accept_roles: 
  - admin
  - editor

publish_mode: editorial_workflow

media_folder: src/assets/images

site_url: https://dashbouquet.netlify.com

collections:
  - name: pages
    label: Pages 
    folder: markdown/pages
    create: true
    fields:
      - { name: collectionName, label: Collection Name, widget: string, default: pages }
      - { name: title, label: Title, widget: string }
      - { name: longTitle, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: our-work-examples
    label: Our Work Examples
    folder: markdown/ourWorkExamples
    slug: /{{title}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: our-work-examples }
      - { name: type, label: Type, widget: string, default: mobile-and-web-aplications-work-examples }
      - { name: title, label: Title, widget: string }
      - { name: subtitle, label: Subtitle, widget: string }
      - { name: textColor, label: Text Color, widget: string, hint: "Enter color as hex values (#ffffff)" }
      - label: "Technologies"
        name: "technologies"
        widget: "list"
        hint: "Enter your keywords comma-separated (javascript, python)"
        default: []
      - label: "Example Background Image"
        name: "exampleBackgroundImage"
        widget: "image"
        default: ""
  - name: client-reviews
    label: Client Reviews
    folder: markdown/clientReviews
    slug: /{{title}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: client-reviews }
      - { name: title, label: Title, widget: string }
      - label: "Client Photo"
        name: "clientPhoto"
        widget: "image"
        default: ""
      - { name: clientInfo, label: Client Info, widget: string }
      - { name: clientReviewText, label: Client Review Text, widget: string }
  - name: team-members
    label: Team Members
    folder: markdown/teamMembers
    slug: /{{title}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: team-members }
      - { name: title, label: Title, widget: string }
      - label: "Member`s Photo"
        name: "membersPhoto"
        widget: "image"
        default: ""
      - label: "Member`s Hover Photo"
        name: "membersHoverPhoto"
        widget: "image"
        default: ""
      - { name: membersName, label: Member`s Name, widget: string }
      - { name: membersPosition, label: Member`s Position, widget: string }
  - name: blog-categories    
    label: Blog Categories
    folder: markdown/blogCategories/
    slug: /{{title}}
    create: true
    fields:
      - { name: collectionName, label: Collection Name, widget: string, default: blog-categories }
      - { name: path, label: Path, widget: string, default: / }
      - { name: title, label: Title, widget: string }
      - { name: longTitle, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: post    
    label: Posts
    folder: markdown/posts/
    slug: /{{category}}/{{title}}"
    create: true
    fields:
      - { name: collectionName, label: Collection Name, widget: string, default: posts }
      - { name: path, label: Path, widget: string, default: / }
      - { name: category, label: Category, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: introtext, label: Introtext, widget: string }
      - { name: metaDescription, label: Meta Description,  widget: string }
      - { name: keywords, label: Meta Keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
      
      