backend:
  name: git-gateway

accept_roles: 
  - admin
  - editor

publish_mode: editorial_workflow

media_folder: static/assets
public_folder: src/assets

site_url: https://cms50.netlify.com

collections:
  - name: our-work
    label: Our work
    folder: markdown/ourWork
    create: true
    fields:
      - { name: path, label: Path, widget: string, default: /our-work/ }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: google-preview, label: Google Preview, widget: text }
      - { name: body, label: Body, widget: markdown }
  - name: blog    
    label: Blog
    folder: 'markdown/blog/{{categ}}/{{title}}'
    create: true
    fields:
      - { name: path, label: Path, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: google-preview, label: Google Preview, widget: text }
      - { name: body, label: Body, widget: markdown }
  
      
      