backend:
  name: git-gateway

accept_roles: 
  - admin
  - editor

publish_mode: editorial_workflow

media_folder: src/assets/images

site_url: https://dashbouquet.netlify.com

collections:
  - name: pages
    label: Pages 
    folder: markdown/pages
    slug: /{{name}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: pages }
      - { name: name, label: Name, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: our-work-items
    label: Our work Items
    folder: markdown/ourWorkItems
    slug: /{{title}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: our-work-items }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - label: "Technologies"
        name: "technologies"
        widget: "list"
        default: []
      - { name: body, label: Body, widget: markdown }
  - name: blog-categories    
    label: Blog Categories
    folder: markdown/blogCategories/
    slug: /{{title}}
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: blog-categories }
      - { name: path, label: Path, widget: string, default: / }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: post    
    label: Posts
    folder: markdown/posts/
    slug: /{{category}}/{{title}}"
    create: true
    fields:
      - { name: collection-name, label: Collection Name, widget: string, default: posts }
      - { name: path, label: Path, widget: string, default: / }
      - { name: category, label: Category, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
      
      