backend:
  name: git-gateway

accept_roles: 
  - admin
  - editor

publish_mode: editorial_workflow

media_folder: static/assets
public_folder: src/assets

site_url: https://cms50.netlify.com

collections:
  - name: pages
    label: Pages 
    folder: markdown/pages
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: our-work-items
    label: Our work Items
    folder: markdown/ourWorkItems
    slug: /{{title}}
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: blog-categories    
    label: Blog Categories
    folder: markdown/blogCategories/
    slug: /{{category}}
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
  - name: post    
    label: Posts
    folder: markdown/posts/
    slug: /{{category}}/{{title}}"
    create: true
    fields:
      - { name: category, label: Category, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: long-title, label: Long Title, widget: string }
      - { name: description, label: Description,  widget: string }
      - { name: summary, label: Summary (introtext),  widget: string }
      - { name: keywords, label: Focus keywords, widget: string, hint: "Enter your keywords comma-separated (table, chair)" }
      - { name: body, label: Body, widget: markdown }
      
      